<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Add Cupcake!</title>
</head>
<body>
    <header>
        <a href="/">Home</a><br>
        <a href="create_cupcake">Create your Own</a><br>
        <a href="orders">Orders</a><br>
        <a href="cupcakes">All Cupcakes</a><br>
        <a href="individual_cupcake">Indidual Cupcake</a><br>
    </header>
        <h1>Add Cupcake to Order</h1>
    <form>
        <label for="cupcake_name">Name of Cupcake:</label><br>
        <input type="text" id="cupcake_name" name="cupcake_name"><br>
        <label for="cupcake_flavor">Cake Flavor:</label><br>
        <input type="text" id="cupcake_flavor" name="cupcake_flavor"><br>
        <label for="cupcake_frosting">Frosting Flavor:</label><br>
        <input type="text" id="cupcake_frosting" name="cupcake_frosting"><br>
        <label for="cupcake_filling">Add Filling:</label><br>
        <input type="text" id="cupcake_filling" name="cupcake_filling"><br>
        <input type="submit" value="Add">
      </form>
</body>
</html>