<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>Cupcakes</title>
</head>
<body>
    <header>
        <a href="/">Home</a><br>
        <a href="create_cupcake">Create your Own</a><br>
        <a href="orders">Orders</a><br>
        <a href="cupcakes">All Cupcakes</a><br>
        <a href="individual_cupcake">Indidual Cupcake</a><br>
    </header>
    <h1>Here are all the Cupcakes!</h1>
    
        {% for cupcake in cupcakes %}
        <h3>Name: {{ cupcake["name"] }}</h3>
        <h4>Size: {{ cupcake["size"] }}</h4>
        <h4>Cake Flavor: {{ cupcake["flavor"] }}</h4>
        <h4>Frosting Flavor: {{ cupcake["frosting"] }}</h4>
        <h4>Sprinkles: {{ cupcake['sprinkles']}}</h4>
        <h4>Price: {{ cupcake['price']}}</h4>
        <a href="{{ url_for('add_cupcake', name=cupcake['name']) }}"><button>Add to Cart</button></a>
        {% endfor %}

    
</body>
</html>