<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>Cupcake Factory</title>
</head>
<body>
    <header>
        <a href="/">Home</a><br>
        <a href="create_cupcake">Create your Own</a><br>
        <a href="orders">Orders</a><br>
        <a href="cupcakes">All Cupcakes</a><br>
        <a href="individual_cupcake">Indidual Cupcake</a><br>
    </header>
    <h1>Cupcake Factory {{ word }}</h1>
    
</body>
</html>